<!doctype html>
<html>
<title>AFR Capstone Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<div class=page>
        
<div class="w3-container w3-jumbo w3-grey w3-text-sand w3-center w3-padding-16">
<h1>RISK ESTIMATOR<br>
    Single indicators</h1>
</div>

    <div class=metanav>
    
<div class="w3-container w3-sand w3-center w3-padding-64">
<h2>SELECT UP TO 5 COUNTRIES</h2>

<form id='input' method='get' action='showind'>
        
<p>
  Country 1:<br>
  <input type="text" name="country" ><br>
  Country 2:<br>
  <input type="text" name="country"><br>
  Country 3:<br>
  <input type="text" name="country"><br>
  Country 4:<br>
  <input type="text" name="country"><br>
  Country 5:<br>
  <input type="text" name="country"><br><br>
    </p>
    
    
    <h2>SELECT 1 INDICATOR</h2>

    <p>
  Indicator:<br>
  <input type="text" name="indicator"><br>
    </p>

 
               <input class="w3-btn w3-padding-16 w3-xlarge w3-margin-top" type="submit" value="Submit">
</form> 
 
     </div>  
        
        </div>

    </div>

</body>
</html>